@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --brown:#e1620d;
}

body{
    background: white;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background:var(--brown);
    color:#fff;
    font-size:1.7rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
}
.btn:hover{
    background: #222;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{
    padding:3rem 9%;
}

.heading{
    background: linear-gradient(135deg, #e1620d, black)no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7);
}

.heading h1{
    color: #fff;
    font-size:4rem;
}
.title {
    display:flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom:3rem;
    margin-top: 8rem;
    padding:1.2rem 0;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7);
    color: #fff;
}
.title span{
    color: #222;
    padding-left: .7rem;
}
.title a{
    margin-left:auto;
    color: #222;
    font-size: 1.5rem;
}
.title a:hover{
    color: var(--brown);
}

.title2{
    display:flex;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom:3rem;
    padding:1.2rem 0;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7);
    color: #fff;
}
.title2 span{
    color: #222;
    padding-left: .7rem;
}
.title2 a{
    margin-left:auto;
    color: #222;
    font-size: 1.5rem;
}
.title2 a:hover{
    color: var(--brown);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
    background: var(--brown);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.header .logo{
    font-size:2.5rem;
    font-weight: bolder;
    color: white;
}

.header .logo i{
    color:#222;
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: #222;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: #fff;
}

.header .icons div:hover{
    color: #222;
}

#menu-btn{
    display: none;
}
.register
{
    opacity: 50%;
}

@keyframes fadeLeft {
    0%{
        opacity: 0;
        transform: translateY(-5rem);
    }
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
}

/* EVENT */
.event .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:15rem;
}

.event .box-container .box{
    border:0.1rem solid rgba(0,0,0,0.7);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.event .box-container .box .img:hover img{
    transform:scale(1.2);
}

.event .box-container .box .img{
    height:25rem;
    width:100%;
    overflow:hidden;
}

.event .box-container .box .img img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.event .box-container .box .content {
    padding:2rem 1.5rem;
}

.event .box-container .box .content .icons{
    border-bottom: 0.1rem solid rgba(0,0,0,0.1);
    padding-bottom: 1.7rem;
    margin-bottom:1.7rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.event .box-container .box .content .icons a{
    font-size:1.4rem;
    color:#222;
}

.event .box-container .box .content .icons a:hover{
    color:var(--brown);
}

.event .box-container .box .content .icons a i{
    color: #222;
    padding-right: .5rem;
}

.event .box-container .box .content h3{
    font-size: 2.2rem;
    color: #222;
}

.event .box-container .box .content p{
    font-size: 1.4rem;
    color: #222;
    line-height: 2;
    padding: 1rem 0;
}


/* ===== FOOTER ===== */
.footer{
    background:var(--brown);
    margin-top: 5rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}


.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #222;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color: #000;
    padding-bottom: .5rem;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color: #000;
    padding:1rem 0;
    display:block;
}

.footer .box-container .box a:hover{
    color: #fff;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: #000;
}

.footer .box-container .box form input[type="email"]{
    width: 100%;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color: #000;
    margin: 1rem 0;
    text-transform: none;
}

.footer .box-container .box .payments{
    width: 100%;
    margin-top: 2rem;
}
@media(max-width: 768px) {
    .navbar{
      flex-direction: column;
      align-items: flex-start;
      padding: 5px;
    }
    
    .navbar a {
      margin: 10rem 0;
    }
  }